@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url(./Assets/Fonts/MBF\ Minimal.ttf);
  font-family: 'titleFont';
}

@font-face {
  src: url(./Assets/Fonts/Mont-HeavyDEMO.otf);
  font-family: 'boldFont';
}

@font-face {
  src: url(./Assets/Fonts/Mont-ExtraLightDEMO.otf);
  font-family: 'normalFont';
}


.title {
  font-family: 'titleFont';
}


* {
  font-family: 'normalFont';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  font-weight: 200;
}

html {
  height: 100vh;
}

.chat-style {
  max-height: calc(100vh - 350px);
}

@media screen and (max-width:1200px) {
  main {
    padding: 25px;
  }

  .background-image {
    background-image: url(./Assets/Images/maskfree.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}